.bookingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .bookButton {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 40px;
  }
  
  .bookButton:hover {
    background-color: #d3d3d3;
    color: #800000;
  }
  
  @media screen and (max-width: 600px) {
   .bookButton {
      font-size: 14px;
      padding: 8px 16px;
      margin: 15px 3px;
    }
  }
  
  @media screen and (max-width: 400px) {
   .bookingContainer{
    display: flex;
    flex-direction: column;
   }
   
    .bookButton {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      padding: 6px 12px;
      margin: 10 2px;
    }
  }